/*
Error: Invalid GBK character "\xE4"
        on line 4 of F:\study\sass\common.scss

1: $color #000;
2: 
3: /**
4:  * 一像素边框
5:  *\/
6: 
7: // 分辨率为1
8: $list top bottom right left;
9: @each $where in $list {

Backtrace:
F:\study\sass\common.scss:4
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1320:in `block in find_encoding_error'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each_with_index'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `find_encoding_error'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:902:in `rescue in check_sass_encoding'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:898:in `check_sass_encoding'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:423:in `check_encoding!'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:379:in `_to_tree'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
E:/study/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
E:/study/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
E:/study/Koala/bin/sass:18:in `load'
E:/study/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE4\"\A         on line 4 of F:\study\sass\common.scss\A \A 1: $color #000;\A 2: \A 3: /**\A 4:  * 一像素边框\A 5:  */\A 6: \A 7: // 分辨率为1\A 8: $list top bottom right left;\A 9: @each $where in $list {"; }
